/**
 * File: style.scss
 * This file contains the style rules used for styling the visualization.
 * 
 * Note: Install SASS using npm install -g sass and then  
 * use the command: sass style.scss style.css to compile from SASS to css.
 * 
 * Authors: Komal & Jayden
 */

// Variables
$grey: rgb(231, 231, 231);
$head-font: 'Lato', sans-serif;
$axis-font: helvetica, arial, sans-serif;
$background-color: #293341;

.hidden {
    display: None;
}

body {
    background-color: $background-color;
    text-align: center;
    font-family: $head-font;
}

h1 {
    color: white;
    stroke: aliceblue;
    stroke-width: 5%;
    font-size: 200%;
}

h2 {
    color: white;
    stroke: black;
    stroke-width: 10%;
    text-shadow: $background-color;
    font-size: 100%;
}

h3 {
    color: white;
    stroke: aliceblue;
    stroke-width: 5%;
    font-size: 110%;
}

h4 {
    color: white;
    stroke: aliceblue;
    stroke-width: 5%;
    font-size: 75%;
}
/* COMPARE TABLE -------------------------------------------------------------*/

#compare-table {
    display: inline-block;

    color: $grey;
    font-weight: bold;
    border: 3px solid $grey;
    
    margin-left: 20px;
    width: 350px;

    td, tr, th {
        padding: 10px;
        text-align: center;
    }
}

#column-ticker1 {
    color: #42f495;
}

#column-ticker2 {
    color: #ff56d7;
}
/* LINE CHART --------------------------------------------------------------*/

.axisTitle {
    fill: $grey;
    font-family: $axis-font;
}

/* Referenced textbook */
#line-chart-tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    color: white;
    font-family: helvetica, arial, sans-serif;
}

#definition-tooltip {
    @extend #line-chart-tooltip;
}

#line-chart {
    margin-top: 20px;
    display: inline-block;

    .line {
        fill: none;
        stroke-width: 3px;
    }

    .domain, .tick line {
        stroke: $grey;
    }
    
    .tick text {
        fill: $grey;
        stroke-width: 0.5px;
    }

    .label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
}

#compare-button, #back-button {
    background-color: white;
}

#back-button {
   position: fixed;
   text-align: left;
   left: 0;
   top: 0;
   margin-left: 50px;
   margin-top: 20px;
}

/* OVERVIEW ----------------------------------------------------------------------*/

.node:hover{
    stroke-width: 7px !important;
    opacity: 1 !important;
}

.buttonParent {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #293341;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #92b9bd;
    color: #293341;
}

.button1:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #92b9bd;
}

.button2 {
    background-color: #a8d4ad;
    color: #293341;
}

.button2:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #a8d4ad;
}
.button3 {
    background-color: #e8ec67;
    color: #293341;
}

.button3:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #e8ec67;
}
.button4 {
    background-color: #8e5572;
    color: #293341;
}

.button4:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #8e5572;
}
.button5 {
    background-color: #91f5ad;
    color: #293341;
}

.button5:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #91f5ad;
}
.button6 {
    background-color: #745296;
    color: #293341;
}

.button6:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #745296;
}
.button7 {
    background-color: #ee6c4d;
    color: #293341;
}

.button7:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #ee6c4d;
}
.button8 {
    background-color: #4CAF50;
    color: #293341;
}

.button8:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #4CAF50;
}

.button9 {
    background-color: #d4b483;
    color: #293341;
}

.button9:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #d4b483;
}

.button10 {
    background-color: #ff01fb;
    color: #293341;
}

.button10:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #ff01fb;
}
.button11 {
    background-color: #f28123;
    color: #293341;
}

.button11:hover {
    background-color: white; /* Green */
    color: #293341;
    border: 4px solid #f28123;
}