body {
    margin-bottom: 100px;
}

.story {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#source {
    font-family: helvetica, arial, sans-serif;
    text-align: right;
    margin-right: 20%;
    color: gray;
    font-style: italic;
}

.story p, ul {
    font-family: helvetica, arial, sans-serif;
    text-align: left;
}



#line-chart .line {
    fill: none;
    stroke: rgb(10, 238, 79);
    stroke-width: 3px;
}

/* Referenced: https://bl.ocks.org/d3noob/629790fc15cc1afba0253f29a4d246e7 */
#line-chart .domain, .tick line {
    stroke: rgb(231, 231, 231);
}

#line-chart .tick text {
    stroke: rgb(231, 231, 231);
    stroke-width: 0.2px;
}

.hidden {
    visibility: hidden;
}

/* Referenced textbook */
#line-chart-tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    color: white;
    font-family: helvetica, arial, sans-serif;
}

#line-chart .label {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

body {
    text-align: center;
}

circle:hover {
    radius: 100px;
}